@font-face {
    font-family: "kokugl";
    src: url(../font/font_1_kokugl_1.15_rls.ttf);
}
body, html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
    width: 100vw;
    height: 100%;
}
a {
    color: 979797;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}
.border-box{
    position:   absolute;
    width:  100vw;
    height:     100%;
}
.border{
    position: relative;
    text-align: center;
    font-size: 18px;
    top:    50%;
}
.line{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    border-bottom: solid 1px #000;
    transform: translateX(-50%);
    animation: border_anim 0.37s linear forwards;
}
@keyframes border_anim {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
/*----ボーダーライン-キャンセル----*/
.erase-line{
    animation: eraseLine 0.37s linear forwards;
    width: 100%;
    border-bottom: solid 1px #000;
    transform: translateX(-50%);
}
@keyframes eraseLine {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
/*----ボーダーライン-再表示----*/
.resurrection-line{
    animation: resurrectionLine 0.37s linear forwards;
    width: 0;
    border-bottom: solid 1px #000;
    transform: translateX(-50%);
}
@keyframes resurrectionLine {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
/*---------------*/
.white {
    color: white;
}
.black {
    color: #393939;
}
header {
    position: absolute;
    width: 100vw;
    z-index: 10;
}
.title-box {
    position: absolute;
    width: 200px;
    margin: 0;
    line-height: 1.4;
    font-size: 8vh;
    margin: 40px 0 0 40px;
    z-index: 10;
    float: left;
}
.title-box a{
    transition: all 0.4s ease;
    -webkit-text-stroke: 1px #393939;
    text-stroke: 1px #393939;
    line-height: 4rem;
    display: block;
    text-align: center;
}

.title-box a:hover {
    color: white;
}
ul {
    position: absolute;
    list-style: none;
    width: 100%;
    margin: 0;
    text-align: right;
    padding-inline-start: 0px;
    padding-top: 30px;
    float: right;
    z-index: 7;
}
li {
    display: inline-block;
    text-align: right;
    font-size: 3.5rem;
    padding-right: 30px;
}
li:first-child {
  padding-right: 30px;
  text-align: right;
}
li:last-child {
  padding-right: 40px;
}
li a{
    transition: all 0.3s ease;
    -webkit-text-stroke: 1px #393939;
    text-stroke: 1px #393939;
}

li a:hover {
    color: white;
}

footer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.container{
    width: 100vw;
    height: 80%;
    position: absolute;
    top: 20%;
}
.item-container{
    position: absolute;
    width: 100vw;
    height: 100%;
}
.item-box{
    width:  70vw;
    height:  50%;
    margin:     5vh auto;
}
.item-title{
    position:   relative;
    font-size:  3.4em;
    float:  left;
    width:  35vw;
    top:     13vh;
}
.item-title span{
    font-family: "kokugl";
    font-weight: bold;
}
.item-content{
    position:   relative;
    font-size:  1.4em;
    float:  right;
    width:  35vw;
    top:     26vh;
}
.item-content span{
    font-family: "kokugl";
    font-weight: bold;
    width: 100%;
    word-wrap: break-word;
}
.item-content span a{
    font-family: "kokugl";
    font-weight: bold;
}
/*テキストデコレーション*/
/*全共通*/
.slide-in {
    overflow: hidden;
    display: inline-block;
}
.slide-in_inner {
    display: inline-block;

}
/* 上下のアニメーション*/
.upAnime{
    opacity: 0;/* 事前に透過0 にして消しておく*/
}
.slideAnimeDownUp {
    animation-name:slideTextY100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes slideTextY100 {
    from {
        transform: translateY(100%);/* 要素を上の枠外に移動*/
        opacity: 0;
    }
    to {
        transform: translateY(0);/* 要素を元の位置に移動*/
        opacity: 1;
    }
}
.slideAnimeUpDown {
    animation-name:slideTextY-100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes slideTextY-100 {
    from {
    transform: translateY(-100%);/* 要素を下の枠外に移動*/
    opacity: 0;
    }
    to {
    transform: translateY(0);/* 要素を元の位置に移動*/
    opacity: 1;
    }
}
.downAnime{
    opacity: 0;/* 事前に透過0 にして消しておく*/
}
/* 下上のアニメーション*/
.downAnime-02{
    opacity: 0;/* 事前に透過0 にして消しておく*/
}









/*クリック処理↓----------------------------------*/
#item01 {
    opacity: 1;
}
#item02 {
    opacity: 0;
}
#item03 {
    opacity: 0;
}
#item04 {
    opacity: 0;
}
#item05 {
    opacity: 0;
}
/* 上下のアニメーションキャンセル*/
.upAnimeCancel{
    opacity: 1;
}
.slideAnimeDownUpCancel {
    animation-name:slideTextY100cancel;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity: 1;
}
@keyframes slideTextY100cancel {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}
.slideAnimeUpDownCancel {
    animation-name:slideTextY-100cancel;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes slideTextY-100cancel {
    from {
    transform: translateY(0);
    opacity: 1;
    }
    to {
    transform: translateY(-100%);
    opacity: 0;
    }
}
.downAnime{
    opacity: 1;
}
/* 下上のアニメーションキャンセル*/
.downAnime-02Cancel{
    opacity: 1;
}
/*同ページクリック時*/
.wobble {
    animation:  0.1s ease-in 0s infinite wobble;
}
@keyframes wobble {
    0%,100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(2px);
    }
}
@media screen and (max-width:1024px) {

    .title-box{
        position: relative;
        width: 80vw;
        margin: 4vh auto 0 auto;
        float: none;
        text-align: center;
        font-size: 4.3rem;
    }
    .title-box a {
        line-height: 3.8rem;
    }
    ul {
        position: relative;
        text-align: center;
        width: 100vw;
        float: none;
        padding: 0;
    }
    li {
        padding: 0 2vw 0 2vw;
        font-size: 3rem;
    }
    li:first-child {
        padding:  0 2vw 0 2vw;
    }
    li:last-child {
        padding:  0 2vw 0 2vw;
    }
    .border {
        top: 33%;
    }
    .item-box {
        width: 90vw;
        height: 50%;
        margin: 0 auto;
    }
    .item-title {
        display: none;
        width: 0;
    }
    .item-content {
        width: 100%;
        text-align: center;
        margin: 11vh auto 0 auto;
        float: none;
        display: block;
    }
}
@media screen and (max-width:599px) {
    .title-box {
            margin: 4vh auto 2vh auto;
    }
    .border {
        top: 33.5%;
    }
    li {
        line-height: 1.2;
    }
    .item-content {
        margin: 0 auto 0 auto;
    }
    .item-content span {
        text-align: left;
    }
}